body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	user-select: none;
}

button.explorer-button {
	background: none !important;
	border: 0px;
	cursor: pointer;
}
button.explorer-button:focus {
	outline: none !important;
	/* background-color: #cfe2fc !important; */
	border: 1px !important;
	background-image: linear-gradient(#f1f7fe, #dfedfe, #cfe4fe) !important;
}
button.explorer-button:hover:not(:focus) {
	background-image: linear-gradient(#ffffff, #e2f0ff) !important;
}